motor
asyncurban
aiohttp
aiofiles
a-pytube-fork-for-spotdl-users
antispaminc
apiclient
apscheduler
https://github.com/Anshusharma75/jhamak/archive/refs/heads/master.zip
async_generator
asgiref
async
asyncio
attrs
beautifulsoup4
bs4
bwb
blob
borg
cairosvg
cfscrape
collection
coffeehouse
chromedriver_autoinstaller
cowpy
colour
covid
cryptg
colorama
cachetools
cffi
click
Command
cryptography
DateTime
deep_translator
dnspython
emoji
fonttools
faker
glitch_this
gtts
gTTS_token
gitpython
google-trans-new
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google_images_download
googletrans
geopy
gitpython
gsearch
hachoir
heroku3
html-telegraph-poster
httpx[http2]
httplib2
humanize
IMDbPY
jikanpy
justwatch
langdetect
lyricsgenius
lxml
lottie
nekos.py
numpy
oauth2client
opencv-python--headless
Pillow>=5.3.0
PyGithub
pygments
pymediainfo
patool
psycopg2
psycopg2-binary
PyPDF2
prettytable
pySmartDL
PyLyrics
pyrogram
pybase64
pyfiglet
pylast
pymongo
python-barcode
python-dotenv
python-magic
pytube
psutil
pySmartDL
pytz
qrcode
wand
regex
requests
search-engine-parser
setuptools
spamwatch
selenium
https://github.com/Anshusharma75/jati/archive/refs/heads/master.zip
spotify_token
https://github.com/fuhumetha/sipotdl/archive/refs/heads/master.zip
sqlalchemy
telegraph
twitter_scraper
telethon
tgcrypto
tswift
html-telegraph-poster
urbandict
validators
vcam
vcsi
wikipedia
wand
wget
https://github.com/Anshusharma75/gandusaala/archive/refs/heads/master.zip
youtube-search-python
youtube-search
